<%# The container for the pagination links. %>
<%= paginator.render do %>
  <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="<%= t 'views.pagination.pagination' %>">
    <%= first_page_tag unless current_page.first? %>
    <%= prev_page_tag unless current_page.first? %>
    <% each_page do |page| %>
      <% if page.display_tag? %>
        <%= page_tag page %>
      <% elsif !page.was_truncated? %>
        <%= gap_tag %>
      <% end %>
    <% end %>
    <%= next_page_tag unless current_page.last? %>
    <%= last_page_tag unless current_page.last? %>
  </nav>
<% end %>
